		<nav>
			<ul>
				<li><a href="#start">1</a></li>
				<li><a href="#description">Home</a></li>
				<li><a href="#syntax">Movies</a></li>
				<li><a href="#scrollbar">Photos</a></li>
				<li><a href="#rotations">5</a></li>				
				<li><a href="#rotations-rotated">6</a></li>
				<li><a href="#source">7</a></li>
				<li><a href="#follow">8</a></li>
			</ul>
		</nav>
		<div class="settings">
			<a href="" class="show-path">Show Path</a>
		</div>
		<div class="wrapper">
			<div class="demo">
				<h1>Welcome</h1>
			</div>
			
			<div class="description">
				<h1><%= link_to "Home", homes_path %></h1>
			</div>

			<div class="syntax">
        <h1><%= link_to "Movie Reviews", reviews_path %></h1>
			</div>

			<div class="scrollbar">
				<h1>Photos</h1>
			</div>

			<div class="rotations">
				<span class="big" style="font-size: 2em;">It also does rotations</span>
				<span class="upside-down big">in browsers.</span>
			</div>

			<div class="source">
				<span class="big">It's available with documentation on <a href="https://github.com/JoelBesada/scrollpath">GitHub</a>.<span>
			</div>

			<div class="follow">
				<span class="big">Feel free to <a href="https://twitter.com/JoelBesada">follow me</a> on Twitter. You can also be <span class="count">a kind person and</span> <a href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Ftwitter.com%2Fabout%2Fresources%2Fbuttons&source=tweetbutton&text=jQuery%20Scroll%20Path%20Plugin&url=http%3A%2F%2Fjoelb.me%2Fscrollpath%2F&via=JoelBesada" class="tweet">tweet</a> this.</span>
			</div>
		</div>

